/* 모든 요소에 대해 기본 바깥 여백과 안쪽 여백을 제거한다*/
*{
    margin :0션 /*바깥쪽 여백*/
    padding: 0%;/*안쪽여백*/ 
    box-sizing: border-box; 
    /*css요소의 실제 크기를 계산하는 방식
    border-box: 박스크기를 딱 정한 크기대로 유지해주는 옵션*/
}

/*body의 기본 글꼴을 설정*/
body{
    font-family: Arial, sans-serif;
    line-height: 1.5;/*줄간격*/
}

/*목록에 점 제거*/
ul,ol{
    list-style: none;
}
/*링크의 밑줄 제거*/
a{
    text-decoration: none;
    color:inherit; /*부모요소의 글씨 색을 따라간다*/
}

